.header {
  background-color: #0a6359;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  .header_container {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0px 50px 0px;

    .header_list {
      display: flex;
      gap: 40px;
      margin-bottom: 20px;

      .header_list_items {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .header_list_items.active {
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
        background-color: #08844f;
      }
    }

    .title_description {
      margin: 10px 0px;
    }
    .header_btn {
      background-color: #0f766a;
      border: none;
      color: #fff;
      font-weight: 500;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
    }
    .search_container {
      margin: 5px;
      height: 50px;
      background-color: #fff;
      border: 3px solid #faf2db;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: grey;
      padding: 10px 0px;
      border-radius: 5px;
      position: absolute;
      bottom: -25px;
      width: 100%;
      max-width: 1024px;

      .search_item {
        display: flex;
        align-items: center;
        gap: 10px;

        .header_icon {
          cursor: pointer;
          color: lightslategray;
        }
        .search_input {
          border: none;
          outline: none;
        }
        .search_text {
          color: lightslategray;
          cursor: pointer;
        }
        .search_calender {
          position: absolute;
          top: 60px;
          box-shadow: 0px 2px 10px rgb(129, 129, 129);
        }
        .options {
          position: absolute;
          top: 60px;
          background-color: #fff;
          color: grey;
          border-radius: 5px;
          -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

          .option_item {
            width: 250px;
            display: flex;
            justify-content: space-between;
            margin: 10px;

            .option_counter {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 12px;
              color: #000;

              .option_conter_btn {
                width: 30px;
                height: 30px;
                border: 1px solid #0f766a;
                background-color: #0f766a;
                color: #fff;
                cursor: pointer;
                border-radius: 5px;
              }
              .option_conter_btn:disabled {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
  .header_container .list_mode {
    margin: 10px 0px 0px 0px;
  }
}
